*
{
	margin:0;
	padding:0;
	border:none;
	font-family: sans-serif;
	text-align: center;
}

body {
	height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}


a {
	text-decoration: none;
	color:black;
	text-align: center;
}

ul {
	list-style: none;
}
